.scroll {
}

.admin {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-gray-7));
}

.flex {
  border-radius: var(--mantine-spacing-md);
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-1));
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}