.link {
  color: var(--mantine-color-blue-5);
  max-width: 200px;
}

.notification {
  background-color: light-dark(var(--mantine-color-coco-0), var(--mantine-color-coco));
}

.notificationTitle {
  color: var(--mantine-color-gray-4);
}