.main {
  background: var(--mantine-color-coco-0);
}

.text {
  line-height: 10px;
}

.carousel {
  background-image: url('../assets/bg1.png');
  background-size: cover;
  /* background-position: center; */
  border-radius: var(--mantine-spacing-md);
}