.main {
  display: flex;
  overflow: auto;
  flex-flow: column;
}

.container {
  height: 100vh;
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1)) ;
  overflow: auto;
}

.content {
  height: calc(100vh - 80px);
}