.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
}

.container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}