.control {
  background-color: var(--mantine-color-orange-7);
    &[data-inactive] {
      opacity: 0;
      cursor: default;
    }
    height: 20px;
  }

.indicators {
  background-color: purple;
    &[data-active] {
        background-color: blue;
    }
}

.slide {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: auto;
  width: 100%;
}

