.float_left {
  float: left;
  width: 75%;
  display: block;
}

/* .float_left::after {
    content: "";
    clear: both;
    display: table;
} */

.float_right {
  float: right;
  width: 75%;
}

.right {
  width: fit-content;
  float: right;
  padding: 0;
  color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-white))
}

.left {
  width: fit-content;
  padding: 0;
  /* box-shadow: 2px 2px 1px light-dark(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)); */
}

.box_right {
  background-color: var(--mantine-color-coco-4);
  border-radius: 10px 0px 10px 10px;
  padding: 5px 10px;
  color: white;
}

.box_left {
  border-radius: 0px 10px 10px 10px;
  padding: 5px 10px;
  color: white;
  background-color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-9));
}


.send {
  padding: 10;
}

.emoji {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-coco-1));
}

.msg {
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-coco-0));
}

.link {
  color: var(--mantine-color-blue-5);
  max-width: 200px;
}