.dashboard{
  background-color: light-dark(var(--mantine-color-gray-0),  var(--mantine-color-coco-0));
}

.nav {
  background-color: light-dark(var(--mantine-color-gray-0),  var(--mantine-color-coco-0));
}

.hero {
  background-color: light-dark(var(--mantine-color-gray-0),  var(--mantine-color-coco-0));
}