

.card {
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-gray-9));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 45%;

  @media (min-width: $mantine-breakpoint-sm) {
    width: 25%;
  }
  &:hover {
    scale: 1.04;
    transition-duration: 1s;
  }
}

.info {
  background-color: light-dark(var(--mantine-color-white),
  var(--mantine-color-white));
}

.image {
      height: 150px;

  @media (min-width: $mantine-breakpoint-sm) {
      height: 300px;
        width: 100%;
    }
}

.carouselControls {
  transition: opacity 150ms ease;
  opacity: 1;
}


.carouselIndicator {
  width: 4px;
  height: 4px;
  transition: width 250ms ease;

  &[data-active] {
    width: 16px;
  }
}

.link {
  text-decoration: none;
}