.wrapper {
  height: 400px;
  width: 300px;
  background-color: light-dark(var(--mantine-color-coco-3), var(--mantine-color-coco-1));
  overflow: hidden;
  border-radius: var(--mantine-spacing-md);
}

.innerWrapper {
  height: 410;
  width: 310;
}