.grid {
  width: fit-content;
  height: fit-content;
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
  
  border-radius: var(--mantine-border-sm);

  @media (min-width: $mantine-breakpoint-sm) {
    width: 90%;
    background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));;
  }
}

.card {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: var(--mantine-color-orange-7);
}