.main {
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
}

.nav {
  position: sticky;
  overflow-x: auto;
  height: 100vh;
  min-width: 80%;
}