.main {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
}

.input {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
  /* color: var(--mantine-color-body); */
}

.btn {
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-coco-4));
}