.menu {
  border-radius: var(--mantine-spacing-md);
  width: 100%;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-coco-0));
  }
}

.menu_drop {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
  box-shadow: 5px 5px 5px light-dark(rgba(0, 0, 0, .2), rgba(0, 0, 0, 2));
}

.link {
  color: var(--mantine-color-teal-5);
  &:hover {
    color: var(--mantine-color-orange-6);
    background-color: var(--mantine-color-coco-1);
  }
}