.color {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-coco-1));
}

.card {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
}

.overlay {
  padding: 0px;
}

.form {
  padding: 0%;

  @media (min-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-sm);
  }
}

.input {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
}