.main {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
  background-image: light-dark(url('/images/nexcom-bg-light.png'), url('/images/nexcom-bg.png'));
  background-position: center;
  background-size: cover;
}

.span {
  width: 100%;
  height: 1px;
  background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));
}

.flex {
  background-color: light-dark(rgba(255, 255, 255, .7), rgba(0, 0, 0, .7));
}

.input {
  background-color: rgba(0, 0, 0, .0);
  border-radius: var(--mantine-spacing-sm);
  color: light-dark(black, white);
  border: 1px solid light-dark(var(--mantine-color-black), var(--mantine-color-white))
}

.card {
  background-color: light-dark(rgba(255, 255, 255, .7), rgba(0, 0, 0, .6));

  &:hover {
    box-shadow: 5px 5px 10px light-dark(var(--mantine), var(--mantine-color-dark-9));
  }
}

.btn {
  background-color: light-dark(var(--mantine-color-coco-5), var(--mantine-color-coco-5));
}