.profile {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
 
}

.main {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
}
.sections {
  background-color: light-dark(rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));
  margin-bottom: var(--mantinr-spacing-md);
}

.card {
  background-color: var(--mantine-color-body);
}

.avatar {
  border: rem(2px) solid var(--mantine-color-body);
}