.main {
  display: flex;
  height: 100vh;
}

.nav {
  width: fit-content;
}

.linksMobile {
  width: 100%;
  display: none;

  &[data-active="true"] {
    display: flex;
  }
}

.links {
  display: flex;
  width: 100%;
}

.children {
  flex: 1; /* Fixed typo */
  display: block;
}

.childrenMobile {
  flex: 1; /* Fixed typo */
  width: 100%;
  display: block;

  &[data-active="true"] {
    display: none;
  }
}
