.main {
  height: 100%;
  /* background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0)); */
  position: relative;

  @media (min-width: $mantine-breakpoint-sm) {
    display: flex;
    gap: var(--mantine-spacing-md);
    /* padding: var(--mantine-spacing-md); */
    position: unset;
    border-radius: var(--mantine-spacing-md);
  }
}

.video {
  height: 100%;
  width: 100%;

}

.section {
  width: 100%;
  justify-content: center;
  align-content: center;
  display: flex;
  /* background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-1)); */
  background-color: rgba(0, 0, 0, .1);
  height: 100%;
  border-radius: 0;

  @media (min-width: $mantine-breakpoint-sm) {
    width: 70%;
    padding: var(--mantine-spacing-md);
  }
}

.items {
  flex: 1;
  right: 0;
  padding: 0px;

  @media (min-width: $mantine-breakpoint-sm) {
    display: flex;
    flex-direction: column;
    background-color: none;
    margin-right: 0px;
    padding: var(--mantine-spacing-md);
    border-radius: var(--mantine-spacing-md);
  }
}