/* shop card */

.main {
  /* background-color: light-dark(var(--mantine-color-gray-0), rgba(0, 0, 0, 0.2)); */
}
.card {
  width: 100%;
  border-radius: var(--mantine-spacing-sm);
  box-shadow: 4px 4px 4px light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  overflow: hidden;
  color: whitesmoke;
  height: 50vh;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), rgba(0, 0, 0, 0.1));
  }

  @media (min-width: var(--mantine-breakpoint-xs)) {
    height: 70vh;
    /* width: 30%; */
  }

  @media (min-width: var(--mantine-breakpoint-sm)) {
    /* width: 18%; */
    height: 70vh;

  }

  @media (min-width: var(--mantine-breakpoint-md)) {
    /* width: 18%; */
    height: 50vh;

  }
}

.innerCard {
  padding: var(--mantine-spacing-md);
  border-top: 2px solid;
  border-image-source: linear-gradient(to left,
      var(--mantine-color-orange-4),
      var(--mantine-color-coco-5));
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  position: relative;

}

.inputPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.inputPaperTwo {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-md);
  align-items: center;
  justify-content: center;
  height: 100%;
}

.section {
  height: 50%;
  background-position: center;
  background-size: cover;

}

.avatar {
  position: absolute;
  top: -15%;
}

.input {
  background-color: none;
  background: none;
}

.qrcode {
  height: 100%;
  padding: var(--mantine-spacing-sm);

}

.innerWrapper {
  display: flex;
  padding: var(--mantine-spacing-sm);
  width: 100%;
  height: 100%;
  border: 1px solid var(--mantine-color-coco-4);
}