.container {
  width: 100%;
  overflow: scroll;
  @media (min-width: $mantine-breakpoint-sm) {
    width: 80%;
  }
}

.navContainer {
  /* display: none; */
  background-color: light-dark(rgba(255, 255, 255, .7), rgba(0, 0, 0, .3));

  @media (min-width: $mantine-breakpoint-sm) {
    width: 40%;
    height: 100%;
    display: block;
  }

  @media (min-width: $mantine-breakpoint-md) {
    width: 30%;
    height: 100%;
    display: block;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    width: 20%;
    height: 100%;
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--mantine-spacing-sm);

  @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    padding: 0%;
  }
}

