.menu {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
}

.root {
  /* background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0)); */
  box-shadow: var(--mantine-shadow-md);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
}

.indicator {
  background-image: linear-gradient(to right,
      var(--mantine-color-coco-5),
      var(--mantine-color-coco-5));
}

.control {
  &::before {
    display: none;
  }
}

.label {

  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}

.notification {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));

  &[data-active="true"] {
    background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
  }
}