.grid {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
  border-radius: var(--mantine-border-sm);
}

.container {
  display: flex;
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
  justify-content: center;
}
.card {
  background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-1));
}

.title {
  font-size: 30px;
  font-weight: bold;
  /* color: var(--mantine-color-orange-7); */
}