.button {
  &:hover {
    background-color: var(--mantine-color-dark-light);
  }
}

.active {
  background-color: var(--mantine-color-orange-9);
  color: white;

  &:hover {
    background-color: var(--mantine-color-orange-8);
    color: white;
  }
}

.section {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-scode-9));

}