.card {
    background-color: light-dark(var(--mantine-color-gray-0), rgba(0, 0, 0, .1));

    &[data-active="true"] {
        background-color: var(--mantine-color-coco-5);
        color: white;
    }
}