.hero {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-0)
  );
  height: rem(100%);
  width: rem(100%);
  @media (min-width: $mantine-breakpoint-sm) {
    border-radius: var(--mantine-spacing-md);
  }
}

.scroll {
  width: rem(100%);
  height: rem(100%);
  /* border-radius: var(--mantine-spacing-xs); */
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-1)
  );

  @media (min-width: $mantine-breakpoint-sm) {
    padding: 10px;
    border-radius: var(--mantine-spacing-md);
    /* border: rem(1px) solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
  }
}
