.control {
    &[data-inactive] {
      opacity: 0;
      cursor: default;
    }
    height: 20px;
  }

.indicators {
    &[data-active] {
        background-color: blue;
    }
}

/* .image {
  height: 100%;
  width: 50%;
} */

