.chat_area {
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-coco-1));
  display: flex;

}

.scroll {
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-coco-1));
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;

}

.flex {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
  flex: 1;
}

.ps {
  height: '100%';
  overflow-y: scroll;
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-coco-1));
  scroll-behavior: smooth;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.empty {
  height: 80vh;
  /* background-image: url('/images/empty-bg.png'); */
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: 'blue';
}