.card {
    background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));


    &:hover {
        box-shadow: 5px 5px 10px light-dark(var(--mantine), var(--mantine-color-dark-9));
    }
}