.card {
    background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));

    &:hover {
        box-shadow: 5px 5px 10px light-dark(var(--mantine), var(--mantine-color-dark-9));
    }
}

.link {
    color: light-dark(var(--mantine-color-coco-0), var(--mantine-color-coco-2));
    margin-left: var(--mantine-spacing-md);
}

.input {
    background-color: light-dark(var(--mantine-color-body), var(--mantine-color-coco-0));
}

.scroll {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-coco-0));
}

.btn {
    &:hover {
        background-color: var(--mantine-color-coco-4);
    }
    border-radius: var(--mantine-spacing-sm);
}