.shop {
  background-color: light-dark(var(--mantine-color-gray-8),
      var(--mantine-color-coco-0));
  height: 100vh;
  width: 100%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  @media (min-width: $mantine-breakpoint-md) {
    padding: var(--mantine-spacing-md);
  }
}

.sections {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 88vh;
}