.main {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-gray-8)
  );
  overflow: hidden;
  @media (min-width: $mantine-breakpoint-md) {
    padding: var(--mantine-spacing-md);
  }
}

.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-0)
  );
  
  @media (min-width: $mantine-breakpoint-sm) {
    border-radius: var(--mantine-spacing-md);
  }
}

.inner_card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-0)
  );
  margin: 0 auto;
  height: fit-content;
  border-radius: var(--mantine-spacing-md);
}

.grid {
  flex: 0 1 auto;
}
.flex {
  height: 100%;
  @media (max-width: $mantine-breakpoint-sm) {
    border-radius: var(--mantine-spacing-md);
  }
}
