.chat_area {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-1));
  border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));
}

.scroll {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-1)
  );
}

.ps{
  height: '100%';
  overflow-y: scroll;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-1)
  );
  scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
