.overflow {
  border: none;
  width: 100%;
  overflow-y: auto;
  @media (min-width: $mantine-breakpoint-sm) {
    /* font-size: rem(50px); */
    border-radius: var(--mantine-spacing-md);
  }
}

.main {
  background-color: var(--mantine-color-coco-0);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.nav {
  width: 100%;
}
.root{
  padding: 0;
  margin: 0;
}

.body {
  height: 100%;
}
