.link {
  color: var(--mantine-color-blue-5);
  max-width: 200px;
}

.notification {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-9));
}

.notificationTitle {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-gray-4));
}