.link {
  display: flex;
  flex-direction: row;
  text-decoration:  none;
  transition-duration: 1s;
  padding: 5px 8px;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-coco-3);

  &:hover {
    background-color: light-dark(var(--mantine-color-coco-0));
    color: white;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    padding: 5px 1px;
  }
}

.main {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-coco-0));
  margin-bottom: 10px;
}