.container {
  height: 100vh;
  background-image: light-dark(url('/images/nexcom-bg-light.png'), url('/images/nexcom-bg.png'));
  background-position: center;
  background-size: cover;
}

.main {
 display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  flex: 1;
  background-color: light-dark(rgba(255, 255, 255, .85), rgba(0, 0, 0, .7));
}