.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: nowrap;
  flex: 1;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-1));
}