.bg {
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-coco-0));
 border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));
}

.header {
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-coco-0));
  height: 80px;
}

.btn {
  background-color: var(--mantine-color-coco-4);
}

.scroll {
  background-color: light-dark(var(--mantine-color-white),
      var(--mantine-color-coco-1));
}

.affix {
  top: 20;
  left: 20;
}