.profile {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
}

.main {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
}
.sections {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-coco-1));

  margin-top: var(--mantinr-spacing-md);
}

.card {
  background-color: var(--mantine-color-body);
}

.color{
  background-color: rgba(0, 0, 0, .5);
}
.header {
  height: 100px;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-coco-0));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-7));
}

.nav {
  background-color: light-dark(var(--mantine-color-gray-0),  var(--mantine-color-coco-0));
}

.hero {
  height: 100%;
  background-color: light-dark(var(--mantine-color-dark-7),  var(--mantine-color-coco-0));
}


.info {
  border-left: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-8));
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.content {
  flex: 1;
  height: 100%;
  overflow: scroll;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-coco-0));
}