.main {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-1)
  );
  overflow: hidden;
  min-height: 100vh;
  
}

.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-0)
  );
}

.inner_card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-coco-0)
  );
  margin: 0 auto;
  height: fit-content;
}

.grid {
  flex: 0 1 auto;
}

.box {
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-gray-9)
  );
}