.float_left {
  float: left;
  width: 75%;
  display: block;
}

/* .float_left::after {
    content: "";
    clear: both;
    display: table;
} */

.float_right {
  float: right;
  width: 75%;
}

.right {
  width: fit-content;
  float: right;
  padding: 0;
}

.box_right {
  background-color: var(--mantine-color-teal-7);
  border-radius: 10px 0px 10px 10px;
  padding: 5px 10px;
}

.box_left {
  border-radius: 0px 10px 10px 10px;
  padding: 5px 10px;
  background-color: var(--mantine-color-gray-8);
}

.left {
  width: fit-content;
  padding: 0;
}

/* .textarea {
    padding: 10;
    background-color: wheat;
} */

.send {
  padding: 10;
}

.emoji {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-coco-1));
}

