.card {
  background-color: light-dark(var(--mantine-color-body), rgba(0, 0, 0, .3));
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  @mixin smaller-than 755px {
    flex-direction: column;
  }
}

.image {
  max-width: 50%;

  @mixin smaller-than 755px {
    max-width: 100%;
    max-height: 180px;
  }
}

.title {
  font-weight: 500;
  font-family: Outfit, var(--mantine-font-family);
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}